/* VARIÁVEIS */
$color-white: #ffffff;
$color-black: #000000;
$color-green-clean: #ECF8E5;
$color-green-medial: #5EC57E;
$color-green-strong: #347571;

.container-about {
    background-color: $color-white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    font-size: 18px;
    padding: 0 1em;

    /* Box de Imagem */
    .box-img {
        width: 50%;
        display: flex;
        height: auto;
        align-items: center;
        justify-content: center;

        .img-desktop {
            width: 100%;
            height: auto;
            border-radius: 50%;
        }
    }

    /* Box de Texto */
    .box-text {
        width: 100%;
        height: auto;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        letter-spacing: 2px;
        color: $color-black;
        font-family: "Open Sans", Arial;
        padding: 0 2em;

        h2 {
            font-size: 2.5em;
            font-weight: 400;
            color: $color-green-medial;
        }

        span {
            color: $color-green-medial;
        }

        h6, p {
            font-weight: 400;
            font-size: 1.2em;
        }
    }
}
