/* VARIÁVEIS */
$color-white: #ffffff;
$color-black: #000000;
$color-green-clean: #ECF8E5;
$color-green-medial: #5EC57E;
$color-green-strong: #347571;

.container-home {
    background-color: $color-green-clean;
    height: 100vh;
    width: 100%;
    font-family: 'Open Sans', Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 22px;

    section.box-title {
        width: 75%;
        height: auto;
        display: flex;
        align-items: center;

        .title-description {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            width: 100%;
            height: 100%;

            a {
                justify-content: flex-start;
            }

            h1 {
                font-size: 2.5em;
            }

            span {
                color: $color-green-medial;
            }
        }

        .img-title {
            width: 75%;

            .img-document {
                width: 100%;
            }
        }
    }
}
